<div style="margin: 0%;">
    <div id="container1">
        <div class="row">
            <div class="col bg-light">Image</div>
            <div class="col bg-light">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed voluptas, cumque mollitia ipsa ea
                    voluptate. Facere deleniti nesciunt fugit, voluptas possimus enim molestiae perferendis recusandae
                    nihil fugiat aut, suscipit quia.</p>
                <!-- <p class="hometext" id="Myname">Mohammed Muzammil uddin</p>
                <p class="hometext" id="jobrole">Web Developer</p>
                <p class="hometext" id="quote">Weaving Code and Creativity Together</p> -->
            </div>
        </div>
    </div>

    <div id="container2">
        <!--  -->
        <h6 class="display-6 text-center">About Me</h6>
        <div id="about_me_text">
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet molestiae inventore dolor fugit, nostrum explicabo. Molestiae autem, similique velit id tempora mollitia animi laudantium cupiditate ut quis maiores quibusdam!</h6>
            <!-- <h6>hello, Im Mohammed Muzammil uddin, im a Trainee software engineer at Audree Infotech <br>
                They say the best things come in small packages, and my passion for coding proves that! From diploma
                days to BTech
                graduate, I've honed my skills in everything from HTML to Java. Now, as a trainee at Audree Infotech,
                I'm diving into
                .NET and Angular, eager to learn and contribute.
            </h6> -->

        </div>
    </div>

    <div id="experience">
            <h6 class="display-6">Experience</h6>
            <div  class="d-flex justify-content-center">          
                <!--        <div class="accordion-body">
                            <p> I've joined Audree Infotech as a .Net Developer, while its a good place to learn enough of the things to become
                                a good developer. </p>
                            <div class="row">
                                <div class="col learned-tags1">
                                    <span>Full stack Development</span>
                                    <span>Code Deployment</span>
                                    <span>Optimization techniques</span>
                                    <span>Team Work</span>
                                </div>
                                <div class="col learned-tags2">
                                    <span>C#</span>
                                    <span>Asp .Net Core</span>
                                    <span>Angular</span>
                                    <span>Azure Devops</span>
                                    <span>Git</span>
                                    <span>Sql</span>
                                </div>
                            </div>
                        </div> -->
                <div class="d-flex align-items-center">
                    <div id="expSectionHeader">
                        <img id="expIcon" src="../../assets/logo/new_audree_logo.png" alt="">
                    </div>
                    <div id="expSectionContent" class="">
                        <div id="companyName"><p>AUDREE Infotech</p></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam omnis minus minima amet sequi dolorum? Quae, maiores voluptatem eius magnam aliquid fugit earum amet commodi esse accusantium, deleniti molestias.</p>
                    </div>
                </div>
            </div>
    </div>
        <!--  -->
        <div id="skillsContainer">
            <h6 class="display-6">Skills</h6>
            <div class="row w-100 h-100 ps-3 pe-3 justify-content-center">
                <div class="col" id="skill-container1">
                    <h6 class="skill-titles"><i class="fa-solid fa-code skillIcons" style="padding: 6.5px 4.5px;"></i>Development</h6>
                    <div id="skill-row-1">
                        <span>html5</span>
                        <span>CSS3</span>
                    </div>
                    <div id="skill-row-2">
                        <span>Javascript</span>
                        <span>Typescript</span>
                    </div>
                    <div id="skill-row-3">
                        <span>ASP.NET Core</span>
                        <span>ASP.NET MVC</span>
                        <span>Angular</span>
                    </div>
                    <div id="skill-row-4">
                        <span>Bootstrap</span>
                        <span>C#</span>
                        <span>SQL</span>
                    </div>
                    <h6 class="mt-3 skill-titles"><i class="fa-solid fa-cloud skillIcons" style="padding: 6px 5px 8px;"></i>Cloud Technologies</h6>
                    <div id="skill-row-5">
                        <span>Azure Devops</span>
                    </div>
                </div>
                <div class="col p-0" id="skill-container2">
                    <div class="row" id="tools_bg">
                            <h6 class="skill-titles"><i class="fa-solid fa-screwdriver skillIcons" style="padding: 6.5px 7px;"></i>Tools</h6>
                            <div class="skill_icons">
                                <p class="text-center"><img src="../../assets/skill_icons/vscode.svg" alt=""><h6 id="word">VS Code</h6></p>
                                <p class="text-center"><img src="../../assets/skill_icons/Visual_Studio_Icon_2022.svg.png" alt=""><h6 id="word">Visual Studio</h6></p>
                                <p class="text-center"><img src="../../assets/skill_icons/github.svg" alt=""><h6 id="word">Github</h6></p>
                                <p class="text-center"><img src="../../assets/skill_icons/Notion-logo.svg.png" alt=""><h6 id="word">Notion</h6></p>
                                <p class="text-center"><img src="../../assets/skill_icons/2020_PowerToys_Icon.svg.png" alt=""><h6 id="word">Power Toys</h6></p>
                            </div>
                    </div>                    
                </div>
               
            </div>
        </div>
        <!--  -->
        <div id="education">
            <h6 class="display-6 text-center" style="display: inline !important;">Education</h6>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="row">
                    <div class="col"></div>

                    <div class="col">
                        <div class="accordion-item">
                            <div class="accordion-header" id="flush-headingOne">
                                <img src="../../assets/education/graduated_cover.svg" class="education_covers w-75"
                                    alt="">
                                <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne"><h6 class="w-100 text-center">B.tech</h6>
                                </button>
                            </div>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">College: <b>VNR VJIET</b> bachupally, Medchal, Hyderabad
                                    <hr>
                                    Branch :<b>Information Technology</b>
                                    <!-- <hr> CGPA : <b>7.1</b> -->
                                    <hr> 2020-2023
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="accordion-item">
                            <div class="accordion-header" id="flush-headingTwo">
                                <img src="../../assets/education/diploma_cover.svg" class="education_covers w-75"
                                    alt="">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo"><h6 class="w-100 text-center">Diploma</h6>
                                </button>
                            </div>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">College:<b>Govt Polytechnic college</b> Kanteshwar,
                                    Nizamabad
                                    <hr>
                                    Branch :<b>Computer Engineering</b>
                                    <!-- <hr> CGPA :<b>6.9</b> -->
                                    <hr> 2017-2020
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="accordion-item">
                            <div class="accordion-header" id="flush-headingThree">
                                <img src="../../assets/education/school_cover.svg" class="education_covers w-75" alt="">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree"><h6 class="w-100 text-center">Secondary School Education</h6>
                                </button>
                            </div>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">School :<b>Sun Flower High School</b> phulong, Nizamabad
                                    <!-- <hr> CGPA :<b>8.2</b> -->
                                    <hr> 2016-2017
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col"></div>
                </div>
            </div>
        </div>
        <!--  -->
        <!--  -->
   



    <div id="contactContainer">
        <div *ngIf="isResponseOk">
            <img src="../../assets/Animations/congrats-Animation.gif" alt="congrats GIF">
        </div>
        <div id="mobilePhone" class="d-flex justify-content-center align-items-center">
        <form [formGroup]="formApi">
            <div class="form-group contactInputs">
                <label >Name</label>
                <input type="text" class="form-control m-0" placeholder="Your good Name Please" formControlName="from_name">
            </div>
            <div class="form-group contactInputs">
                <label >Email</label>
                <input type="text" class="form-control m-0" placeholder="Enter Your Email" formControlName="from_name">
            </div>
            <div class="form-group contactInputs">
                <label >Message</label>
                <input type="text" class="form-control m-0" placeholder="Type your Message here" formControlName="message">
            </div>
            <button class="float-end pushable" (click)="send()">
                <span class="front">
                    Submit
                </span>
            </button>
        </form>
    </div>
</div>
</div>
