*{
  /* border: 1px solid grey !important; */
}

 *{
    margin: 0.5em;
}
.me{
  width: 24em;
  margin: 50px 0px 0px 50px ;
  border-radius: 2px;
}
#bgBorder {
  position: absolute;
  left: 7%;
  top: 23%;
  width: 23.5em;
  height: 22.5em;
  border: 2px solid #0A1931;
  z-index: -1;
}

/* --------------------------------------------------- */

.navbar{
  padding: 3px 0px;
    background-color: #0A1931;
    transition: background-color 200ms linear;
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
      transition: background-color 200ms linear;
}
.navbar.scrolled .nav-link{
  color: #333333;
  font-weight: bold;
}

.mono-light{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #64ffda;
    
}
  
.nav-link {
    cursor: pointer;
    position: relative;
}
.nav-link:hover{
    color: white;
    text-shadow: #48abe0 0 0 5px;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: 0;
    left: 0px;
    transition: width 0.3s;
    cursor: pointer;
    background: white;
    color: #48abe0;
    border-radius: 1em;
}

.nav-link:hover::after {
    width: 100%;
    box-shadow: 0 0 5px 2px #48abe0;
  }

  .navbar, #navbarNav, .navbar-nav, .nav-link, .nav-item{
    margin: 0;
  }
/* --------------------------------------------------- */

#container1, #container2, #experience, #skillsContainer, #education, #contactContainer{
  margin-left: 0%;
  margin-right: 0%;
}

 #container1{
  width: 100%;
  height: 47em;
  padding: 0 !important;
  clip-path: polygon(0 0, 100% 0, 100% 58%, 0 70%);
  background-color: rgb(233, 233, 233);
 }
 
 #container2{
  margin-top: -12%;
  margin-bottom: 6em;
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -150px;
}
#container2 .row{
  width: 50%;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  height: max-content;
  padding: 0 !important;
  margin-left: 5.2em !important;

}

@keyframes fade-out {
  to { opacity: 0; } 
}

#dotelement{
  position: relative;
  left: 110px;
  bottom: 55px;
  width: 70px;
  height: 120px;
  background: radial-gradient(circle, transparent 14%, #8ecae6 15%, #8ecae6 25%, transparent 26%);
        background-size: 1.5em 1.5em;
        opacity: 1;
}
#dashelement{
  position: relative;
  rotate: -40deg;
  right:80px;
  top: 115px;
  width: 150px;
  height: 70px;
  background: radial-gradient(circle, transparent 14%, #8ecae6 15%, #8ecae6 25%, transparent 26%);
        background-size: 1.5em 1.5em;
        opacity: 1;
}

 #contactContainer, #skillsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }

  #contactContainer{
    height: 38em;
  }

  #skillsContainer{
    height: 32em;
    margin-top: 0 !important;
  }
  #skillsContainer > h6{
    font-size: 2em;
  }
  #skill-container1 > div > span{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 2px;
    background-color: white;
  }
  #skill-row-1, #skill-row-2, #skill-row-3, #skill-row-4,#skill-row-5{
    padding: 5px 0px;
  }
 
  #skill-container1{
    border-radius: 1em;
    height: max-content;
    background-color: rgb(235, 235, 235) ;
    border-radius: 16px;
  }
  #tools_bg{
  padding: 0%;
  height: max-content;
  border-radius: 1em;
}

#tools_bg{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(18px);
-webkit-backdrop-filter: blur(18px);
border: 1px solid rgba(255, 255, 255, 0.3);
}



.card{
   width: 25em;
   height: 15em;
   background: rgba( 255, 255, 255, 0.40 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 4px );
   border-radius: 20px;
   border: 1.5px solid rgba(255, 255, 255, 0.782);
  
}


i.fa-regular{
  font-size: 1.8em;
     color: white;
     
}
.row{
  margin: 0% !important;
}
.col{
  background-color: transparent;
}

.hometext{
  margin-left: 0% !important;

}
#hi{
  font-weight: bold;
}

#Myname{
  font-size: 2.8em;
  font-family: 'Red Hat Display', sans-serif;
  margin-bottom: 0%;
  margin-top: 0%;
} 

#jobrole{
  font-size: 1.5em; 
  margin-top: 0%;
  margin-bottom: 0%;
  font-weight:500;
}

#quote{
  margin-top: 0%;
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
}

#education{ 
  text-align: center;
}


.accordion-item{
  width: 20em;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
.accordion-item, .accordion-button{
  border-radius: 1em !important;
}
.accordion-button, .education_covers{
  margin: 0;
}
.accordion-button:focus{
  box-shadow: none !important;
  background-color: white !important;
  text-decoration: none !important;
}

.accordion-body{
  font-family: 'Raleway', sans-serif;
  font-size: 0.95em;
}
#accordionExp{
  width: 100%;
}

#expContent{
  border-radius: 1em;
  width:40em;
  height: 20em;
  background-color: white;
}

#expIcon{
  width: 5em;
}

#companyName{
  font-size: large;
}



.skill_icons p{
  display: inline-block;
  width: 7em;
  margin: 0%;
}

.skill_icons img{
  width: 3em;
  border-radius: 0.8em;
  padding: 0.3em;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  }
}

#experience{
  height: 28em;
  width: 100%;
}

.skillIcons{
  border: 3px solid #102950;
  color: #0A1931;
  border-radius: 1em;
}

.skill-titles{
  font-size: 1.2em;
  margin-left: 0%;
  margin-bottom: 0%;
}

#mobilePhone{
  width: 19em;
  height: 34.7em;
  background-repeat: no-repeat;
  background: url(../../assets/skill_icons/mobile.png);
  background-size: 19em;  
}


#mobilePhone > form {
  width: 100%;
  height: 68%;
  margin: 0%;
  margin-left: 2%;
  background-color: rgb(226, 223, 223);
    border-radius: 1em;
  overflow: hidden;
  transform: rotateY(48deg) rotateX(6.5deg) scale(1.12);
}
#congrats_GIF{
  position: absolute;
  width: 20em;
}
.contactTitle{
  text-align: center;
  margin-top: 0% !important;
  margin-bottom: 0%;
  font-size: 30px;
}

.contactInputs > input{
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-style: normal;
}



.pushable{
  background: hsl(202, 100%, 32%);
  border-radius: 12px;
  border: none;
  padding:0;
  cursor: pointer;
  outline-offset: 4px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.front{
  display: block;
  margin: 0;
  padding: 6px 24px;
  border-radius: 12px;
  border: 2px solid hsl(202, 72%, 21%);
  font-size: 1.2rem;
  background: hsl(202, 92%, 35%);
  color: white;
  transform: translateY(-3px) translateX(3px);
}
.pushable:active .front {
  transform: translateY(0px);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
