
.navbar{
    background-color: #0A1931;
    transition: background-color 200ms linear;
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
      transition: background-color 200ms linear;
}
.navbar.scrolled .nav-link{
  color: #333333;
  font-weight: bold;
  /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); */
  /* color: #0A1931; */
}

.mono-light{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    /* color: #F1C40F; */
    color: #64ffda;
    
}




  
.nav-link {
    cursor: pointer;
    position: relative;
}
.nav-link:hover{
    color: white;
    text-shadow: #48abe0 0 0 5px;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: 0;
    left: 0px;
    transition: width 0.3s;
    cursor: pointer;
    background: white;
    color: #48abe0;
    border-radius: 1em;
}

.nav-link:hover::after {
    width: 100%;
    box-shadow: 0 0 5px 2px #48abe0;
  }