body{
    width: 100%;
    height: max-content;
    background-color: #0A1931;
}
body::-webkit-scrollbar {
    display: none;
}

.my-custom-swal {
    border-radius: 1em;
    padding: 0px !important; 
    margin: 0px !important; 
    width: 420px !important; 
    height: 340px !important; 
  }

  .my-custom-title {
    margin: 0px !important; 
    padding: 0px !important; 
}
