
.container-fluid{
    width: 100%;
    height: 100%;
    padding: 0px !important;
        background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
        box-shadow: inset 2em 2em 10em black;
}
#inner-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0px !important;
        margin: 0px !important;
    }

#background-video{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -12;
        opacity: 20%;
}

#enterBtn{
z-index: 1;
position: absolute;
top: 40%;
border: none;
width: 135px;
height: 50px;
background-color: rgb(0, 183, 255,20%); 
color: #48abe0;
}

#enterBtn:hover{
    color: #a1dbfa;
    border: 1px solid #8dd6fd;
    box-shadow: 0 0 5px 2px #48abe0;
    background-color: rgb(0, 183, 255,30%); 
}
